node_modules
tmp
.env
database/development.sqlite
dist
.tmp
npm-debug.log
*~
*#
.DS_STORE
.node_history
.tscache
config/local.js
secrets.md

## Terraform ###
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
**/.terragrunt-cache/*
**/.terraform.lock.hcl