node_modules
tmp
.env
database/development.sqlite
bower_components
dist
typings
.nuxt
.tmp
.sass-cache
npm-debug.log
*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.node_history
sendgrid.env
.tscache
.vscode
config/local.js
claudia.json
event.json
ipDataBase.mmdb
